
#exclude target directory
communication/__pycache__/
*.log
.vscode
.idea

# ---- exclude yamcs-web folder ----
!target/
target/*
!target/yamcs/
target/yamcs/*
!target/yamcs/cache/
target/yamcs/cache/*
!target/yamcs/cache/yamcs-web/
# ----------------------------------